* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 100vh;
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#watch-now-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

#search-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

label {
    margin-right: 10px;
}

.movies-slider {
    padding: 20px;
}

.movies-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.movie-card {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 20px;
    scroll-snap-align: start;
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    height: auto;
}

.movie-card h3 {
    margin: 10px 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

footer p {
    text-align: center;
}

footer p a {
    color: #fff;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}